<section id="header">
                    <nav class="navbar navbar-expand-sm navbar-dark  u-overlay__inner py-3 ">
                            <div class="container-fluid">
                                    <i class=" btn fas point fa-angle-double-left sidebaricon" id="sidebarCollapse"></i>
                            </div>
                        
                        </nav>
                        
                   <section>
                       <div class="container ">
                           <div class="header-content">
                               <nav class="header-social-icons">
                              
                                            <li class="icon-link">
                                                <a class="" href="https://twitter.com/aniekanedett" target="_blank">
                                                            <i class="fab fa-twitter"></i>                            
                                                </a>                            
                                            </li>
                                            <li class="icon-link">
                                                <a class="" href="https://www.facebook.com/aniekan.edet.3/" target="_blank">
                                                            <i class="fab fa-facebook-f"></i>                            
                                                </a>                            
                                            </li>
                                            <li class="icon-link">
                                                <a class="" href="https://linkedin.com/in/aniekan-edet" target="_blank">
                                                            <i class="fab fa-linkedin-in"></i> 
                                                    </a>                             
                                            </li>
                                            <li class="icon-link">
                                                <a class="" href="https://github.com/aniekanedet" target="_blank">
                                                        <i class="fab fa-github"></i>                            
                                                </a>
                                            </li>
                                            
                               </nav>
                               
                                            <div class="typing-text">
                                                    <p id="type"></p>
                                            </div>
                          </div>
                          
                          <div class="header-icon">
                                <a class="animated pulse infinite delay-5s piont" href="#section1">
                                    <i class=" animated pulse infinite delay-5s  fa fa-arrow-down" aria-hidden="true"></i>
                                </a>
                        </div>
                       </div>
                   </section>
           </section >