---
layout: 'layouts/base.njk'
---
<div class="container ">
                           
            <div class="divider">
            </div>
               <section class="divider">
                   <div id="section1" class="container-fluid about-content">
                           <div class="container">
                          
                                           <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="about-info" >
                                                             <p>
                                                                Hi again <img src="assets/image/smile.png" alt="smile">, Thanks for coming around. <br> <br>

                                                                I’m a Frontend developer with 3 years of
                                                                experience, passionate about building amazing looking websites for small
                                                                businesses and personal brands to help grow their business online and
                                                                expose them to a wider range of customers.
                                                                
                                                                
                                                                <br>
                                                                <!-- Hire me to build you a website, teach you to code or speak at your event. -->
                                                                <!-- <strong><a style="font-size: small; border-bottom:#010b2f solid 1px;" href="about.html">Read more...</a></strong> -->
                                                            </p>
                                                               

                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
<!--                                                   <p><strong> Skills & Tools</strong></p> -->
                                                        <table class="table">
                                                                <thead>
                                                                  <tr>
                                                                    <th scope="col">Skills/Tools</th>
                                                                    <th scope="col"></th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                  <tr>
                                                                    <td>HTML5, CSS3</td>
                                                                    <td>GIT</td>

                                                                  </tr>
                                                                  <tr>
                                                                    <td>BOOTSTRAP, RWD</td>
                                                                    <td>NETLIFY, NETLIFY CMS</td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td>JAVASCRIPT, NODEJS</td>
                                                                    <td>WORDPRESS, SHOPIFY</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>VUEJS/NUXTJS</td>
                                                                        <td>FIGMA</td>
                                                                      </tr>
                                                                </tbody>
                                                              </table>
                                                  </div>
                                               </div>
                                   </div>
                   </div>
               </section>
           
             
                
               
                   <section class="sectional-content">
                   <div id="section3" class="container">
                           <h3 class="mt-4 mb-5">Projects I've worked on ....</h3>
                               <div class="row mt-5 mb-5 " >

                                    <div class="col-sm-6">
                                       
                                            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                                  
                                                    <div class="carousel-inner">
                                                      <div class="carousel-item active">
                                                        <img src="assets/image/clients/akaivanett.JPG" class="d-block w-100" alt="...">
                                                        <div class="text-center" >
                                                                <a href="http://akaivanett.com/" target="_blank">Akaivanett.com</a>
                                                          </div>
                                                     
                                                      </div>
                                                      <div class="carousel-item">
                                                        <img src="assets/image/clients/cyen.JPG" class="d-block w-100" alt="...">
                                                         <div class="text-center" >
                                                                <a href="http://cyen.com.ng/" target="_blank">cyen.com.ng</a>
                                                            </div>
                                                      </div>
                                                
                                                    </div>
                                                  
                                            </div>
                                      </div>
                               
                                  <div class="col-sm-6 clipro">
                                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                                  
                                                <div class="carousel-inner">
                                                  <div class="carousel-item active">
                                                    <img src="assets/image/clients/kanny.ng.JPG" class="d-block w-100" alt="...">
                                                    <div class="text-center" >
                                                            <a href="http://kanny.ng" target="_blank">Kanny.ng</a>
                                                      </div>
                                                 
                                                  </div>
                                                  <div class="carousel-item">
                                                    <img src="assets/image/clients/ibomshopingmall.JPG" class="d-block w-100" alt="...">
                                                     <div class="text-center" >
                                                            <a href="http://ibomshoppingmall.com.ng/" target="_blank">Ibomshoppingmall.com.ng</a>
                                                        </div>
                                                  </div>
                                            
                                                </div>
                                              
                                        </div>
                                  
                                  </div>
                               </div>
                           

                        </div>
                            <div class="text-center mb-5">
                                    <a href="https://github.com/aniekanedet" target="_blank"><button class="btn sendbtn text-center">Github</button></a>
                               </div>
                       </section>
               
           
                   <section class=" sectional-content" >
                           <div class="container " id="section5">
                               <div >
                                       <h3 class="mt-4 mb-4">Get in Touch! </h3>
                                    <p class="pr-5">Want to talk about developing a new project for your business or do you have questions?
                                        <br> Regardless, feel free to contact me.</p>
                               </div>

                           <div class="row text-center mt-5 mb-5">
                               <div class="col-md-4">
                                   <i class="fas fa-map"></i> <br>
                                   <p>Uyo, Nigeria</p>
                               </div>
                               <div  class="col-md-4">
                                       <i class="fas fa-mobile-alt"></i><br>
                                   <p> + (234) 703 295 7474 </p>
                               </div>
                               <div class="col-md-4">
                                       <i class="fas fa-envelope"></i> <br>
                                   <p>
                                           aniekanedett@gmail.com 
                                   </p>
                               </div>
                           </div>
                           <div class="row mt-5 mb-5">
                              
                                <form name='contact-form' method='POST' class='contact-form' style><input type='hidden' name='form-name' value='contact-form' />
                                    <div class="form-row" >
                                      <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" id="firstname" placeholder="John">
                                      </div>

                                      <div class="form-group col-md-4">
                                        <label>Email</label>
                                      <input type="email" class="form-control" name="email" placeholder="Johndoe@example.com">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Mesage</label>
                                        <textarea name="message" class="form-control" rows="5" id="message" placeholder="Hello, Howdy"></textarea>
                                    </div>

                                    <!-- <div class="field">
                                        <div data-netlify-recaptcha="true"></div>
                                    </div> -->

                                    <button type="submit" class="btn sendbtn">Send</button>
                                  </form>
                                 
                               </div>
                           </div>
                       </section>
    
            