---
layout: layouts/base.njk
---
<section class=" sectional-content" >
                           <div class="container " id="section5">
                               <div >
                                       <h3 class="mt-4 mb-4">Get in Touch! </h3>
                                    <p class="pr-5">Want to talk about developing a new project for your business or do you have questions?
                                        <br> Regardless, feel free to contact me.</p>
                               </div>

                           <div class="row text-center mt-5 mb-5">
                               <div class="col-md-4">
                                   <i class="fas fa-map"></i> <br>
                                   <p>Uyo, Nigeria</p>
                               </div>
                               <div  class="col-md-4">
                                       <i class="fas fa-mobile-alt"></i><br>
                                   <p> + (234) 703 295 7474 </p>
                               </div>
                               <div class="col-md-4">
                                       <i class="fas fa-envelope"></i> <br>
                                   <p>
                                           aniekanedett@gmail.com 
                                   </p>
                               </div>
                           </div>
                           <div class="row mt-5 mb-5">
                              
                                <form name='contact-form' method='POST' class='contact-form' style><input type='hidden' name='form-name' value='contact-form' />
                                    <div class="form-row" >
                                      <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" id="firstname" placeholder="John">
                                      </div>

                                      <div class="form-group col-md-4">
                                        <label>Email</label>
                                      <input type="email" class="form-control" name="email" placeholder="Johndoe@example.com">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Mesage</label>
                                        <textarea name="message" class="form-control" rows="5" id="message" placeholder="Hello, Howdy"></textarea>
                                    </div>

                                    <!-- <div class="field">
                                        <div data-netlify-recaptcha="true"></div>
                                    </div> -->

                                    <button type="submit" class="btn sendbtn">Send</button>
                                  </form>
                                 
                               </div>
                           </div>
                       </section>
    