---
title: 'Aniekan Edet | Frontend Developer based in Uyo, Nigeria.'
description: '© 2019 Aniekan Edet | Frontend Develeper - I  provide high quality web development services for businesses and personal Brands.'
---

<!DOCTYPE html>
<html>

<head>
{% include 'layouts/header.njk' %}

</head>
<body>
<div class="wrapper">


{% include 'layouts/sidebar.njk' %}

<div id="content">
            <section id="header">
                    <nav class="navbar navbar-expand-sm navbar-dark  u-overlay__inner py-3 ">
                            <div class="container-fluid">
                                    <i class=" btn fas point fa-angle-double-left sidebaricon" id="sidebarCollapse"></i>
                            </div>
                        
                        </nav>
                        
                   <section>

{{ content | safe }}

{% include 'layouts/footer.njk' %}
{% include 'layouts/footer-scripts.njk' %}

</div>
</div>


</body>
</html>