<footer >
                        <hr class="mb-5">
                        <div class="container footer-brand ">
                                <a href="index.html">
                                        <img src="assets/image/foot-logo.png" alt="Aniekan Edet" >
                                     </a>
                                 <!-- <a href="index.html" > <strong>AE</strong></a> -->
                           </div>          
                       <div class="container footer-icon">
                           <ul class="ulf-icon">
                                        <a class="" href="https://twitter.com/aniekanedett" target="_blank">
                                                Twitter
                                        </a>                            
                                        <a class="" href="https://linkedin.com/in/aniekan-edet" target="_blank">
                                                Linkedin
                                        </a>                             
                                        <a class="" href="https://github.com/aniekanedet" target="_blank">
                                                Github
                                        </a>  
                                        <a class="" href="https://www.facebook.com/aniekan.edet.3/" target="_blank">
                                                Facebook                          
                                       </a>                    
                           </ul>
                       </div>        
                   </footer>
            <!-- Back to the top icon -->
            <a href="#" id="scroll" ><span>Back to the Top</a>
            <!-- Back to the top icon -->

