 <!-- Sidebar  -->
    <nav id="sidebar">
 <div class="sidebar-header">
   <h3 class="animated bounceInLeft delay-5s">
        <a class="navbar-brand" href="/">
                <img src="assets/image/logoo.png" alt="Aniekan Edet" >
                
             </a>

    </h3>
        <a href="/"> <strong>AE</strong></a>
       
        </div>

        <ul class="list-unstyled components">
               
          
                <li class="nav-item">
                    <a class="nav-link Navv active" href="/about">
                        <i class="fas fa-address-book"></i>
                       About
                    </a>
                </li>

              
                <li class="nav-item">
                        <a class="nav-link " href="/contact">
                            <i class="fas fa-paper-plane"></i>
                            Contact
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link " href="/blog">
                        <i class="fas fa-pencil-alt"></i>
                       Notes
                    </a>
                </li>
               
                <li class="nav-item">
                        <a class="nav-link" href="assets/doc/aniekanedet-resume.pdf" target="blank">
                        </i> <i class="fas fa-file-download"> </i>
                        Resume
                        </a>
                    </li>
        </ul>

        
    </nav>
